{% extends "main/base.html" %}

{% block title %}
View
{% endblock %}

{% block content %}
<div class="table-responsive">
    <table class="table table-hover table-striped align-middle">
        <thead>
            <tr>
                <th>List Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for td in user.todolist.all %}
            <tr>
                <td><a href="/{{td.id}}" class="text-decoration-none text-primary fs-5">{{td.name}}</a></td>
                <td>
                    <form method="POST" action="/delete/{{td.id}}" class="form-group">
                        {% csrf_token %}
                        <button type="submit" name="delete" class="btn btn-danger">Remove</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block styles %}
<style>
    body {
        background-color: #f5f5f5;
    }
</style>
{% endblock %}